<div class="widgets">
    <div class="row" ng-if="vm.detailApprovalSelected">
        <div class="col-md-12">
            <ul class="btn-list clearfix ng-scope">
                <li>
                    <button type="button" ng-click="vm.openModalApproval('approve')" class="btn btn-success btn-with-icon">
                        <i class="ion-android-checkmark-circle"></i>Approve</button>
                </li>
                <li>
                    <button type="button" ng-click="vm.openModalApproval('revise')" class="btn btn-warning btn-with-icon">
                        <i class="ion-android-warning"></i>Revise</button>
                </li>
                <li>
                    <button type="button" ng-click="vm.openModalApproval('reject')" class="btn btn-danger btn-with-icon">
                        <i class="ion-ios-close-outline"></i>Reject</button>
                </li>
            </ul>
        </div>
        <!-- <code>{{vm.detailApprovalSelected.general}}</code> -->
        <div class="col-md-12" ba-panel ba-panel-title="General Information">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal ng-scope">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quest. Code </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.questionnaireCode}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quest. Type </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.questType.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quest. Name </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.questName}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Descripton </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.description}}
                            </label>
                            <!-- <textarea rows="10" ng-model="vm.detailApprovalSelected.general.description" readonly class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                            </textarea> -->
                        </div>
                        <div ng-if="!vm.typeolright" class="form-group">
                            <label class="col-sm-4 control-label">Quartal </label>
                            <div class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.quartal.label}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total Target </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.totalTarget}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Default Template </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.template.label}}
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal ng-scope">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Created Date </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.createdDate}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Created By </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.createdBy}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.status}}
                            </label>
                        </div>
                        <h4>Distribute Date :</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Start </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.startDistributionDate}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">End </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.general.endDistributionDate}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="!vm.typeolright" ba-panel ba-panel-title="Participant Target">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal ng-scope">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Usia </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.ageRange.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pendidikan </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.education.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Gender </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.gender.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Occupation </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.occupation.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">SES </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.ses.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Region </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.religion.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Area </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.propinsi.Name}}
                            </label>
                            <label class="col-sm-4 control-label"> </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.kabupaten.Name}}
                            </label>
                            <label class="col-sm-4 control-label"> </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.kecamatan.Name}}
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal ng-scope">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">RO </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.ro.label}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Unit Type </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.unitType.label}}
                            </label>
                        </div>
                        <h4>Last Purchase :</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Start </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.startLastPurchase}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">End </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.endLastPurchase}}
                            </label>
                        </div>
                        <h4>Last Service :</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Start </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.startLastService}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">End </label>
                            <label class="col-sm-8 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.endLastService}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="vm.typeolright" ba-panel ba-panel-title="Participant Target">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal ng-scope">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Usia </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.ageRange.label}}
                                <!-- : <span ng-repeat="item in vm.detailApprovalSelected.target.ageRange">{{item.label}}, </span> -->
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pendidikan </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.education.label}}
                                <!-- : <span ng-repeat="item in vm.detailApprovalSelected.target.education">{{item.label}}, </span> -->
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.gender.label}}
                                <!-- : <span ng-repeat="item in vm.detailApprovalSelected.target.gender">{{item.label}}, </span> -->
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Occupation </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.occupation.label}}
                                <!-- : <span ng-repeat="item in vm.detailApprovalSelected.target.occupation">{{item.label}}, </span> -->
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SES </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.ses.label}}
                                <!-- : <span ng-repeat="item in vm.detailApprovalSelected.target.ses">{{item.label}}, </span> -->
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Region </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.religion.label}}
                                <!-- : <span ng-repeat="item in vm.detailApprovalSelected.target.religion">{{item.label}}, </span> -->
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Propinsi </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.propinsi.Name}}
                            </label>
                            <label class="col-sm-2 control-label">Kabupaten </label>
                            <label class="col-sm-10 control-label" style="text-align: left!important;font-weight:bold;font-size: 14px;">
                                : {{vm.detailApprovalSelected.target.kabupaten.Name}}
                                <!-- : <span ng-repeat="item in vm.detailApprovalSelected.target.kabupaten">{{item.Name}}, </span> -->
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12" ba-panel ba-panel-title="Default Question">
            <div class="row">
                <div class="col-md-12">
                    <div ui-grid="vm.gridDefaultQuestion" ui-grid-resize-columns ui-grid-pagination class="grid"></div>
                </div>
            </div>
        </div>
        <div ng-if="!vm.typeolright" class="col-md-12" ba-panel ba-panel-title="Custom Question">
            <div class="row">
                <div class="col-md-12">
                    <div ui-grid="vm.gridCustomQuestion" ui-grid-resize-columns ui-grid-pagination class="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>