<div class="col-md-12">
  <div class="panel filling-panel">
    <div class="panel-body filling-body">
      <div class="row">
        <!-- <code>{{vm.paramsend}}</code> -->
        <div class="col-md-12">
          <!-- <code>{{vm.paramsend}}</code> -->
          <span class="filling-title" style="color: rgb(25, 125, 115)">{{dataprovider.question}}</span>
          <hr/> Answer :
          <br/>
          <br/>
          <ng-form name="userFieldForm" class="form-group">
            <div class="input-demo checkbox-demo row">
                <!-- ng-hide=""  -->
              <div class="col-md-12" ng-repeat="answer in dataprovider.answerRB | orderBy:'sort'" ng-hide="(answer.sort == 99 && !dataprovider.useOther) || answer.hide">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" ng-value="answer" ng-change="updateModel()" ng-model="dataprovider.answerValue" name="{{dataprovider.uuid}}"
                    ng-required="validatecheck(dataprovider.required)">
                  <span>{{(answer.sort == 99 ? 'Other' : answer.answerValue)}}</span>
                </label>
                <div ng-if="answer.sort == 99 && dataprovider.answerValue == answer">
                  <input name="fieldOTHER" type="text" class="form-control" ng-model="answer.answerValue" required>
                  <p class="help-block" style="color:red" ng-show="userFieldForm.fieldOTHER.$invalid">*This Field is Required</p>
                </div>
              </div>
              <div class="col-md-12">
                <p class="help-block" style="color:red" ng-show="userFieldForm[dataprovider.uuid]['$invalid']">*This Field is Required</p>
              </div>
            </div>
          </ng-form>
        </div>
      </div>
    </div>
  </div>
</div>