<div class="welcome row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <img class="iconstart" onclick="openNav()" src="../assets/img/bohlam.png">
    </div>
    <div class="col-md-5">
        <p class="blocktext welcomemessage">{{vm.welcomemessage}}</p>
        <br/>
        <br/>
        <p class="blocktext startquestionnaire" onclick="openNav()">Start Question</p>
    </div>
    <div class="col-md-2"></div>
</div>
<div id="myNav" class="overlay parallax" style="background-color: #DCDCDC;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a ng-if="vm.questionsScreening" href="javascript:void(0)" class="nextbtn btn btn-primary" ng-click="vm.submitScreening(vm.questionScreen)">Next</a>
    <div class="overlay-content">
        <div>
            <div>
                <div ng-if="vm.questionsScreening" ng-include="'app/pages/fillingquestionaire/fillingolright/templateForm/screeningTemplate.html'"></div>
                <div ng-if="!vm.questionsScreening" ng-include="'app/pages/fillingquestionaire/fillingolright/templateForm/mainTemplate.html'"></div>
            </div>
        </div>
        <a ng-if="!vm.questionsScreening" type="submit" ng-click="vm.finishAll()" ng-disabled="vm.formmodel.$invalid" class="submitbtn btn btn-primary pull-right">Submit</a>
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
</script>
<style>
    .container{
        background-color: white;
    }
    .iconstart {
        display: block;
        margin: 0 auto;
    }

    .welcomemessage {
        font-size: 20px;
        cursor: pointer;
        display: block;
        /* margin: 0 auto; */
    }

    .startquestionnaire {
        font-size: 30px;
        cursor: pointer;
        display: block;
        /* margin: 0 auto; */
    }


    .welcome {
        margin: 0;
        /* background: yellow; */
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50%;
    }

    p .blocktext {
        margin-left: auto;
        margin-right: auto;
        width: 8em
    }

    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        margin-top: 10px;
        bottom: 10%;
        padding-left: 100px;
        padding-right: 150px;
        padding-bottom: 100px;
    }

    .parallax {
        /* Set a specific height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .overlay a {
        /* text-decoration: none;
        display: block; */
        transition: 0.3s;
    }

    .filling-panel {
        background-color: rgba(255, 253, 253, 0.411)!important;
    }

    .filling-body {
        background-color: rgba(255, 253, 253, 0.411)!important;
        font-size: 20px;
        FONT-FAMILY: sans-serif;
        FONT-VARIANT: common-ligatures;
    }

    .filling-title {
        color: rgb(25, 125, 115);
        font-size: 25px;
        FONT-FAMILY: sans-serif;
        FONT-VARIANT: common-ligatures;
    }

    /* 
    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1; 
    } */

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .overlay .nextbtn {
        position: absolute;
        bottom: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        right: 15px;
        font-size: 30px;
    }

    .overlay .submitbtn {
        bottom: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        right: 15px;
        font-size: 30px;
        z-index: inherit;
        margin-right: 30px;
    }

    @media only screen and (max-width: 768px) {
        .overlay a {
            font-size: 20px;
        }
        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
        .overlay-content {
            position: relative;
            top: 10%;
            width: 100%;
            /* margin-top: 10px; */
            bottom: 10%;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 100px;
        }
        .iconstart {
            display: block;
            margin: 0 auto;
            width: 79.8px;
            height: 117px;
            display: inline;
        }
    }
</style>