<div class="modal-content">
        <div class="modal-header bg-info">
                <i class="ion-information-circled modal-icon"></i>
                <span> URL Open Link </span>
        </div>
        <div class="modal-body " style="color:black">
            <div class="row">
                <div class="col-lg-10">
                        <input type="text" ng-readonly="true" class="form-control" ng-model="formData" id="urldata">
                </div>
                <div class="col-lg-2">
                        <button ng-click="copydata()" class="btn btn-success btn-with-icon col-lg-12" >Copy <i class="ion-arrow-right-a"></i></button>
                </div>
            </div>
                
                
        </div>
</div>